.mainDiv{
    font-family: Urbanist;
}
.title, .info{
    margin:  1rem 1rem 1rem 20px;
    text-align: left;
}
.formBody{
    margin: auto;
    max-width: 400px;
}
.info{
    color: #A3A3A3;
}
.inpUnivName, .inpEmail, .btn,.btn1, .inpNewpass{
    margin: auto;
    margin-top: 1rem;
    padding: 1rem 0.5rem 1rem 0.5rem;
    border: 1px solid #DADADA;
    background: #F7F8F9;
    border-radius: 8px;
    width: 350px;
    font-size: 15px;
}
.btns{
    display: flex;
    justify-content: space-between;
}
.btn1{
    width: 150px;
    height: 56px;    
    text-align: center;
    color: black;    
    background-color: white;
    font-size: 15px;
    border: solid 1px black;
}
.btn{
    width: 150px;
    height: 56px;    
    text-align: center;
    color: white;    
    background-color: black;
    font-size: 15px;
}
::placeholder{
    color: #A3A3A3;
}

@media (max-width: 650px){
    .inpUnivName, .inpEmail, .inpNewpass{
        padding: 1rem 1rem;
        margin: auto;
        margin-top: 1rem;
        border-radius: 10px;
        width: 300px;
        text-align: left;
    }
    .btn{
        padding: 1.2rem 0.5rem 2.5rem 0.5rem;
        width: 150px;
        font-size: 15px;
    }
}