.mainDiv{
    font-family: Urbanist;
}
.heading{
    padding: 0.5rem;
    margin-top: 1rem;
    font-size: 35px;
    filter: drop-shadow(12px 2px 10px rgba(0, 0, 0, 0.5));
}
.titleMenu{
    display: flex;
    justify-content: space-between;
}
.title{

text-align: left;
}
.formBody{
    margin: auto;
    max-width: 400px;
}
.info{
    margin: 1rem 0rem 1rem 0rem;
    color: grey;
    text-align: left;
}
.inpUnivName, .inpEmail, .btn{
    margin: auto;
    margin-top: 1rem;
    padding: 1.5rem 0.5rem 1rem 0.5rem;
    border: 1px solid #DADADA;
    background: #F7F8F9;
    left: 24.5333251953125px;
    border-radius: 8px;
    width: 350px;
    font-size: 20px;

}
.btn{
    width: 368px;
    height: 60px;    
    text-align: center;
    color: white;    
    margin-top: 1rem;  
    background-color: black;
    font-size: 15px;
}
::placeholder{
    text-align: left;
    font-size: 20px;
    color: rgba(160, 156, 156, 0.607);

}
.menuSize{
    size: 2rem;
    margin: 1.3rem 1rem 2rem 1rem;
}

@media (max-width: 650px){
  
    .inpUnivName, .inpEmail{
        padding: 1rem 1rem;
        margin: auto;
        margin-top: 1rem;
        border-radius: 10px;
        font-size: 1.5rem;
        width: 300px;
        text-align: left;
        background: #F7F8F9;
    }
    .btn{
        padding: 1.2rem 0.5rem 2.5rem 0.5rem;
        margin: 1rem 0rem 0rem 0rem;
        width: 335px;
        font-size: 20px;
    }
}