.input {
  text-align: right;
  background-color: #caf0f8;
  border: 0;
  border-radius: 10px;
  align-self: right;
}
.input::-ms-input-placeholder {
  align-self: right;
}
.input1 {
  text-align: right;
  background-color: #ffffff;
  border: 0;
  border-radius: 10px;
  align-self: right;
}
.input1::-ms-input-placeholder {
  align-self: right;
}
